.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*background-color: #01baef;
  background-image: linear-gradient(315deg, #01baef 0%, #20bf55 74%);
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);*/
  background-color: #0d6efd;
  background-image: linear-gradient(315deg, #0d6efd 0%, #198754 64%);
  height: 56px;
}
.toolbar-navigation {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.toolbar-logo {
  margin-left: 1rem;
}

.toolbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.toolbar-items a {
  color: #fff;
  text-decoration: none;
}

.toolbar-items a:hover,
.toolbar-items a:active {
  color: #fa923f;
}

.toolbar-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-items li {
  padding: 0 0.5rem;
}

.spacer-after-logo {
  flex: 1;
}
.spacer-before-logo {
  flex: 1;
}

.toolbar-items a {
  color: #fff;
  text-decoration: none;
}

.toolbar-items a:hover,
.toolbar-items a:active {
  color: #fa923f;
}

.apple-button {
  margin-right: 3px;
  color: #fff;
  cursor: pointer;
  height: 100%;
  position: relative;
  top: -2px;
}

@media (min-width: 769px) {
  .toolbar-burger-button,
  .spacer-before-logo {
    display: none;
  }
  .toolbar-logo {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .toolbar-items {
    display: none;
  }
  .spacer-after-logo {
    display: none;
  }
}
